.dotted {
  background-position: 0px 4px;
  background-size: 8px 8px;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: radial-gradient(
    circle at 2px 2px,
    var(--animated-color) 2px,
    transparent 0
  );
  color: transparent;
}

@media (prefers-reduced-motion: no-preference) {
  @property --animated-color {
    syntax: "<color>";
    initial-value: #2563eb;
    inherits: false;
  }

  @keyframes scrollBg {
    50% {
      --animated-color: #1d4ed8;
    }
    100% {
      background-position: -32px 4px;
    }
  }

  .dotted {
    animation: scrollBg 10s linear infinite forwards;
  }
}